<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">VISILINX DASHBOARD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/']">HOME <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li *ngIf="!authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/dashboard']">DASHBOARD</a>
          </li>
          <li *ngIf="!authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/profile']">PROFILE</a>
          </li>
            <li *ngIf="authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/login']">LOGIN</a>
            </li>
            <li *ngIf="authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/register']">REGISTER</a>
            </li>
          <li *ngIf="!authService.isTokenExpired()" class="nav-item">
            <a class="nav-link" href="#" (click)="logOutClick()">LOGOUT</a>
          </li>
        </ul>
    </div>

</nav>
